{% extends "survey/layout.html" %}
{% block body %}
	<h1>Welcome to Djoodle</h1>
	{% for survey in surveys %}
		<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ survey.author }}</a>
              <small class="text-muted">{{ survey.date_created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ survey.title }}</a></h2>
            <p class="article-content">{{ survey.description }}</p>
          </div>
        </article>
	{% endfor %}
{% endblock  %}
