{% extends "survey/layout.html" %}
{% block body %}
	<h1>Welcome to Djoodle</h1>
	<article class="media content-section">
		<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#">{{ object.author }}</a>
			<small class="text-muted">{{ object.date_created|date:"F d, Y" }}</small>
		</div>
		<h2 class="article-title" >{{ object.title }}</h2>
		<p class="article-content">{{ object.description }}</p>
		<ul class="article-content">
			{% for survey_option in object.surveyoption_set.all %}
			<li> {{survey_option}} {% if object.author == user %}<a class = "btn btn-outline-danger mt-1 mb-1" href='{% url 'surveyoption-delete' survey_option.id%}'>Delete</a>{% endif %}</li>
			{% endfor%}
			{% if object.author == user %}
			<li><a class = "btn btn-outline-primary mt-1 mb-1" href='{% url 'surveyoption-create' object.id%}'>Create New Option</a></li>
			{% endif %}
		</ul>
		<div class="form-group">
			{% if object.author == user %}
				<a class = "btn btn-outline-danger mt-1 mb-1" href='{% url 'survey-delete' object.id%}'>Delete</a>
				<a class = "btn btn-outline-primary mt-1 mb-1" href='{% url 'survey-update' object.id%}'>Update</a>
			{% endif %}
			<a class = "btn btn-outline-primary mt-1 mb-1" href='{% url 'vote-create' object.id%}'>Vote</a>
		</div>
		</div>
	</article>
{% endblock  %}
