{% extends "survey/layout.html" %}

{% load crispy_forms_tags %}
{% block title %}Vote{% endblock %}

{% block body %}
<h1>{{survey.title}}</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class = "border_bottom mb-4">Vote</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class = "btn btn-outline-info" type="submit">Vote</button>
        </div>

    </form>
</div>
{% endblock %}
